/*
Olivia Weston (2022)
Colour palette generated and produced from: 
https://coolors.co/49495a-49aba8-d4cce0-eddfef-e8fab3
*/
:root {
    --primary-bg: #49ABA8;
    --light-1-bg: #62BCB9;
    --light-2-bg: #7EC8C5;
    --dark-1-bg: #3D8F8C;
    --dark-2-bg: #317270;
  
    --primary-tx: #464655;
    --light-1-tx: #5C5C70;
    --dark-1-tx: #373743;
  
    --accent: #E8FAB3;
    --light-1-acc: #F4FDD9;
    --dark-1-acc: #DDF98B;
  
    --secondary: #D4CCE0;
    --tertiary: #EDDFEF;
  }
  
body {
    background-color: var(--primary-bg);
    padding: 5%;
    padding-top: 0;
    margin: 0;
}
  
#body-content {
    background-color: var(--light-2-bg);
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    position: relative;
    justify-content: space-between;
}
  
#personal-photo {
    display: table;
}
  
#personal-photo figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
}
  
#top-bar {
    text-align: center;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 0;
}

#links-box {
    display: flex;
    align-items: center;
}

.paper {
    background-image: url("./paper_texture.png");
}

#content-svg-wrapper {
    display: flex;
}

#bookmark-1 {
    fill: var(--secondary);
    stroke: var(--secondary);
    color: var(--secondary);
    stroke-width: 1px;
}

#bookmark-2 {
    fill: var(--tertiary);
    stroke: var(--secondary);
    color: var(--secondary);
    stroke-width: 1px;
}

#bookmark-3 {
    fill: var(--dark-2-bg);
    stroke: var(--secondary);
    color: var(--secondary);
    stroke-width: 1px;
}

.triangle {
    fill: var(--dark-2-bg);
    stroke: var(--secondary);
    color: var(--secondary);
    stroke-width: 1px;
}